---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';

import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], links = [], theme = 'dark' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t dark:border-gray-200 border-slate-800 not-prose']}>
  <div class="dark:bg-lime absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative mx-auto px-4 lg:px-12 sm:px-6 dark:text-dark-lime">
    <div class="w-full md:flex md:justify-between py-6 md:py-8">
      <div class="text-center mb-5">
        <a class="inline-block font-bold text-xl" href={getHomePermalink()}>
          <Image src="~/assets/images/qompa-text.png" alt="Qompa" width={180} />
        </a>
      </div>
      <div>
        {
          links.map(({ title, links }) => (
            <div class="text-center">
              <div class="dark:text-dark-lime font-medium">{title}</div>
              {links && Array.isArray(links) && links.length > 0 && (
                <ul class="md:flex content-around">
                  {links.map(({ text, href, ariaLabel }) => (
                    <li class="my-3 md:mx-5">
                      <a
                        class="text-muted hover:text-gray-700 hover:underline dark:text-dark-lime transition duration-150 ease-in-out"
                        href={href}
                        aria-label={ariaLabel}
                      >
                        <Fragment set:html={text} />
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </div>
          ))
        }
      </div>
      <div class="text-center mt-5 md:mt-0">
        <div class="col-span-12">
          <p class="md:text-xs lg:text-sm whitespace-nowrap">Encuéntranos en nuestras redes</p>
          {
            socialLinks?.length ? (
              <ul class="flex w-full mb-4 justify-center">
                {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                  <li>
                    <a
                      class="text-muted dark:text-dark-lime hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none dark:hover:text-lime focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                      aria-label={ariaLabel}
                      href={href}
                    >
                      {icon && <Icon name={icon} class="w-8 h-8" />}
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            ) : (
              ''
            )
          }
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4 relative min-h-3 p-4 lg:px-12 sm:px-6 bg-dark-lime text-lime">
    <div class="flex flex-col md:col-span-3 items-center md:items-start py-6 md:py-8">
      <h4 class="font-semibold mt-2 mb-6">Términos y condiciones</h4>
      <p class="text-xs text-center md:text-left">
        Los términos que regulan la relación entre Qompa con sus usuarios, con sus colaboradores, con sus proveedores u
        otros contratistas, con sus accionistas, con sus miembros de órganos de gobierno corporativo, con sus acreedores
        y con cualquier otro grupo de interés, están contenidos en los documentos o textos legales aplicables, incluido
        en lo relevante con la información presentada en este sitio web y en las normas aplicables. El contenido
        vinculado a este sitio web tiene derechos reservados de propiedad intelectual de Qompa.
      </p>
    </div>
    <div class="md:col-span-2 py-6 md:py-8 p-4">
      <!-- <div class="flex flex-col md:flex-row md:col-span-3 items-center my-4 md:place-content-end">
        <span class="text-lg font-semibold mt-2 mb-6 md:mt-0 md:mb-0 md:mr-2">Contamos con la supervisión de</span>
        <Image src="~/assets/images/sbs-green.png" alt="Super Intendencia de Banca, Seguros y AFP" width={130} />
      </div> -->
      <div class="flex flex-col md:flex-row md:col-span-3 items-center my-4 md:place-content-end">
        <h4 class="text-lg font-semibold mt-2 mb-6 md:mt-0 md:mb-0 md:mr-2">Todos los derechos reservados</h4>
        <p class="font-semibold text-2xl">© Qompa S.A.C.</p>
      </div>
    </div>
  </div>
</footer>
